apiVersion: v1
kind: Secret
metadata:
  name: example-mixed-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "token": "<your-yandex-cloud-iam-token>",
      "storage_access_key": "<your-yandex-cloud-storage-access-key>",
      "storage_secret_key": "<your-yandex-cloud-storage-secret-key>"
    }