apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
       "id": "<service-account-key-id>",
       "service_account_id": "<service-account-id>",
       "created_at": "<creation-ts>",
       "key_algorithm": "RSA_2048",
       "public_key": "<public-key-data>",
       "private_key": "<private-key-data>"
    }
