apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.providerJetYc.secretName }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  credentials: {{ .Values.providerJetYc.creds | default "" | b64enc }}
---
apiVersion: yandex-cloud.jet.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: {{ .Values.providerJetYc.providerName }}
  annotations:
    "helm.sh/resource-policy": keep
spec:
  credentials:
    source: Secret
    secretRef:
      name: {{ .Values.providerJetYc.secretName }}
      namespace: {{ .Release.Namespace }}
      key: credentials
    endpoint: {{ .Values.providerJetYc.endpoint }}
---
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-jet-yc
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
spec:
  package: {{ .Values.providerJetYc.package }}
  runtimeConfigRef:
    name: yc-pod-security
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: yc-pod-security
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              securityContext:
                allowPrivilegeEscalation: false
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
                capabilities:
                  drop:
                    - ALL
            {{ if .Values.internalRootCaCreated }}
            - name: internal-root-ca
              mountPath: /etc/ssl/certs
              readOnly: true
            {{ end }}
          {{ if .Values.internalRootCaSecretName }}
          volumes:
            - name: internal-root-ca
              secret:
              defaultMode: 420
              secretName: {{ .Values.internalRootCaSecretName }}
              items:
                - key: internal-root-ca
                  path: ca-certificates.crt
            {{ end }}

