apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.provider.config.secretName }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  credentials: {{ .Values.provider.config.creds | default "" | b64enc }}
---
apiVersion: yandex-cloud.m.jet.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  annotations:
    upjet.upbound.io/manual-intervention: Namespaced ProviderConfig for Crossplane v2 with local secret references.
  name: {{ .Values.provider.config.providerName }}
spec:
  credentials:
    cloudId: {{ .Values.provider.config.cloudId }}
    folderId: {{ .Values.provider.config.folderId }}
    endpoint: {{ .Values.provider.config.endpoint }}
    secretRef:
      key: credentials
      name: {{ .Values.provider.config.secretName }}
      namespace: {{ .Release.Namespace }}
    source: Secret

# ! Delete provider because value .Values.provider.packages can install it
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: yc-pod-security
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              securityContext:
                allowPrivilegeEscalation: false
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
                capabilities:
                  drop:
                    - ALL
            {{ if .Values.internalRootCaCreated }}
            - name: internal-root-ca
              mountPath: /etc/ssl/certs
              readOnly: true
            {{ end }}
          {{ if .Values.internalRootCaSecretName }}
          volumes:
            - name: internal-root-ca
              secret:
                defaultMode: 420
                secretName: {{ .Values.internalRootCaSecretName }}
                items:
                  - key: internal-root-ca
                    path: ca-certificates.crt
            {{ end }}
